@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
header {
  display: flex;
  /* border: solid; */
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 5%;
  position: absolute;
  width: 100%;
  z-index: 100;
}
header h1 {
  font-size: 40px;
}

header nav {
  /* border: solid; */
  display: flex;
  gap: 30px;
}
header nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
  -ms-border-radius: 99px;
  -o-border-radius: 99px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 8px 16px;
}

/* header nav a:active {
  text-decoration: none;
} */

header nav a.active {
  background: #321ee8;
  color: white;
}

header nav a:hover {
  background: #5247b9;
  color: white;
}

header nav:hover > a:not(:hover) {
  background: none;
  color: black;
}
section {
  /* width: 100vh; */
}
.home {
  display: flex;
  height: 100vh;
  /* width: 100vh; */
  background: linear-gradient(to top, #d2e2fb 30%, #86a8db);
  position: relative;
  overflow: hidden;
}
.home img {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* width: 100vh; */
  pointer-events: none;
}
.home .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 80px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.about {
  padding: 50px;
  background-color: #3b3291;
  color: white;
  position: relative;
  z-index: 100;
}

.about h1 {
  font-size: 40px;
}
